/* Scroll snap container */
body {
    cursor: none;
}

::-webkit-scrollbar {
  display: none;
}

:hover {
    cursor: none;
}

#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #facc15;
    /* oro */
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    /* per eleganza */
    backdrop-filter: blur(2px);
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Ogni sezione occupa tutta la viewport */
.snap-section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the header: fixed position (always stay at the top) */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: linear-gradient(to right, #facc15, #ca8a04);
    width: 0%;
}

@keyframes glowGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.glow-text {
    background: linear-gradient(270deg, #facc15, #ca8a04, #facc15);
    background-size: 600% 600%;
    animation: glowGradient 30s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-shadow {
    text-shadow: 1px 4px 0 #000;
}

.blur-background {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

::selection {
    background-color: rgba(250, 204, 21, 0.7);
    /* giallo 400 con opacità */
    color: #333;
    /* molto scuro */
}